* {
  margin: 0;
  padding: 0;
}

.Tile {
  width: 23px;
  height: 23px;
  border: 1px solid black;
}

.WallTile {
  background-color: #334;
}

.Board {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.StartTile {
  background-color: green;
}

.EndTile {
  background-color: red;
}

.PathTile{
  background-color: #00babaaa;
}