* {
  margin: 0;
  padding: 0;
  font-size: 22px;
  font-weight: 600;
  color: #334;
}

.Tile {
  width: 23px;
  height: 23px;
  border: 1px solid black;
}

.WallTile {
  background-color: #334;
}

.Map {
  display: flex;
  flex-wrap: wrap;
}

.StartTile {
  background-color: green;
}

.EndTile {
  background-color: red;
}

.PathTile {
  background-color: #00babaaa;
}

.Sidenav {
  background-color: #eef;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.SidenavList {
  list-style: none;
  margin: 20px 0;
}

.Sidenav select {
  position: relative;
  border-radius: 4px;
  border: 1.5px solid #334;
}

*:focus {
  outline: none;
}

.SidenavButtons {
  width: 80%;
}

.Button {
  border: none;
  border-radius: 4px;
  background-color: #aab;
  width: 100%;
  margin: 5px 0;
}

.Board {
  display: flex;
}
